/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#main {
    
}

.clear{
    clear: both;
}

#nav{
    display: inline-block;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav, .subnav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}
/* Đây là selector dùng để chọn thẻ con trực tiếp */
#nav > li >a {
    color: #fff;
    /* Viết hoa */
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    /* nó sẽ ăn theo thuộc tính của line-hight */
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;

}

#nav .subnav { 
    top: 100%;
    left: 0;
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#header .search-btn{
    /* display: inline-block; */
    float: right;
    cursor: pointer;
}

#header .search-btn:hover{
    background-color: #f44336;
}

#header .search-icon{
    font-size: 20px;
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background:url(/w3_band/assets/img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* các cách căn giữa cách 1 */
    /*cách 1: left: 50%;
    transform: translateX(-50%); */
    /*cách 2: width: 100%; */
    /* cách 3 */
    left: 0;
    right: 0;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


#content {
    
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .section-heading{
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .section-heading,
#content .section-sub-heading{
    text-align: center
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list{
    margin-top: 48px;
    /* overflow: hidden; */
    /* Cách khắc phục của float
    overflow: hidden;
     */
    /* Cách khác dùng clear, đặt ở cuối item bị lỗi float 
    sau đó thêm thuộc tính css là clear: both*/
}

#content .member-item{
    float: left;
    width: calc(100% /3);
    text-align: center;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
#footer {
    

}
